@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-archivo: 'Archivo', ui-sans-serif, system-ui, sans-serif;
  --font-azeret-mono: 'Azeret Mono', ui-monospace, monospace;
  --font-courier-prime: 'Courier Prime', ui-monospace, monospace;
  --font-libre-baskerville: 'Libre Baskerville', ui-serif, serif;
  --font-mono: "Courier New", Courier, monospace;
  --color-asterisk-beige: #FFFBED;
  --color-asterisk-footer-grey: #3A3A3A;
}