@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-archivo: 'Archivo', ui-sans-serif, system-ui, sans-serif;
  --font-azeret-mono: 'Azeret Mono', ui-monospace, monospace;
  --font-courier-prime: 'Courier Prime', ui-monospace, monospace;
  --font-libre-baskerville: 'Libre Baskerville', ui-serif, serif;
  --font-mono: "Courier New", Courier, monospace;
  --color-asterisk-beige: #FFFBED;
  --color-asterisk-footer-grey: #3A3A3A;
  --color-asterisk-divider: #1a1a1a;
  --color-asterisk-orange: #fed1aa;
  --color-asterisk-white: #fffffb;
  --color-asterisk-caption-light-gray: #acacac;
  --color-asterisk-caption-dark-gray: #414141;
}

@layer components {
  
  .caption {
    line-height: 1.2;
  }
  
  .img-shadow {
    box-shadow: 0 0 7.6px -1px rgba(0, 0, 0, 0.15);
  }
  
  /* Resource item component */
  .resource-item {
    @apply flex flex-col items-center mb-3;
  }
  
  .resource-item img {
    @apply w-full h-full object-cover;
  }
  
  .resource-item .caption {
    @apply text-center mt-4 max-w-[216px];
  }
  
  .resource-item .caption a {
    @apply underline underline-offset-2;
  }

  .divider-equals {
    font-family: var(--font-courier-prime);
    font-size: 1rem;
    letter-spacing: 0.15em;
    line-height: 1;
    color: var(--color-asterisk-divider);
    overflow: hidden;
    white-space: nowrap;
  }
}

/* Base styles */
html {
  scroll-behavior: smooth;
}

/* Selection colour */
::selection {
  background-color: var(--color-asterisk-divider);
  color: var(--color-asterisk-beige);
}